<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   

<nav class="hero">
    <div class="hero-content">
      
     
    </div>

</nav>
    
   
    

    <div class="jumbotron" style="color: snow;">
        <h1>Favor de ingresar datos de productos electronicos</h1>
        <h3>El motivo de esto es para saber que tipo de productos prefiere mas nuestros clientes</h3>
            <center><h2>Insertar datos</h2></center>
            <center> <a class="btn btn-primary btn-lg" href="/insertar" role="button">Ir a la encuesta</a></center>
            <br>
            <center><h2>Te mandara a la insercion de datos</h2></center>
    </div>
        
    
    
  
</body>
</html>